body
  background-color: #F4F4F4

.h-100
  height: 100%

.d-flex
  display: flex

.flex-column
  flex-direction: column

.align-items-center
  align-items: center

.justify-content-center
  justify-content: center

.container
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  max-width: 720px

.form-group
  margin-bottom: 1rem

.form-control
  display: block
  width: 100%
  padding: .375rem .75rem
  font-size: 1rem
  line-height: 1.5
  color: #495057
  background-color: #fff
  background-clip: padding-box
  border: 1px solid #ced4da
  border-radius: .25rem
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
  min-width: 360px

.btn
  display: inline-block
  font-weight: 400
  text-align: center
  white-space: nowrap
  vertical-align: middle
  user-select: none
  border: 1px solid transparent
  padding: .375rem .75rem
  font-size: 1rem
  line-height: 1.5
  border-radius: .25rem
  cursor: pointer

  &:hover
    opacity: .8

.btn-primary
  background-color: #395378
  color: white

.btn-secondary
  background-color: #CECECE
  color: black

.text-success
  color: #379B37

.text-danger
  color: red

.pr-3
  padding-right: 3rem
