<template>
  <div>
    <nav>
      <router-link :to="{name: 'home'}" class="btn btn-secondary back-btn">BACK</router-link>
    </nav>
    <div class="container">
      <div class="d-flex align-items-center justify-content-center">
        <span class="pr-3">Name</span>
        <input type="text" v-model="inputValue" class="form-control">
        <button class="btn btn-primary" @click="editName(id, inputValue)">OK</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "edit",
  data() {
    return {
      inputValue: '',
      id: null,
      token: null,
      config: {}
    }
  },
  async created() {
    this.inputValue = localStorage.getItem('currentProjectName')
    this.id = localStorage.getItem('currentProjectId')
    this.token = localStorage.getItem('token')
    this.config = {
      headers: { Authorization: `Bearer ${this.token}` }
    };
    const items = await this.$axios.$get(`https://api.quwi.com/v2/projects-manage/${this.id}`, this.config);
  },
  methods: {
    editName(id, value) {
      let data = this.$axios.$post(`https://api.quwi.com/v2/projects-manage/update?id=${id}`, {name: value}, this.config)
      this.$router.push({ name: 'home'})

      localStorage.removeItem('currentProjectId')
      localStorage.removeItem('currentProjectName')
      return data
    }
  }
}
</script>

<style scoped lang="sass">
input
  margin-left: 1rem
  margin-right: 1rem
  max-width: 350px

button, .back-btn
  padding-left: 1rem
  padding-right: 1rem

.back-btn
  border: 1px solid #9e9ea4
  text-decoration: none
  font-weight: bold

nav
  padding: .5rem 1rem
  background-color: #C1C8D2

.container
  padding: 2rem 0

  > div
    margin-left: auto
    margin-right: auto

  > div
    background-color: white
    border: 1px solid #80808038
    border-radius: 5px
    padding: 1.5rem
    width: fit-content
</style>
