<template>
  <div>
    <nav class="d-flex align-items-center">
      <h3><b>Q</b></h3>
      <div class="d-flex align-items-center">
        <router-link :to="{name: 'home'}" class="btn tab">PROJECTS</router-link>
        <button @click="logout" class="btn tab">LOGOUT</button>
      </div>
    </nav>
    <div class="container" >
      <div @click="editProject(item.id, item.name)"  v-for="(item, index) in items.projects" :key="index">
        <project :item="item" class="project"/>
      </div>
    </div>
  </div>

</template>

<script>
import Project from "./home/project";

export default {
  name: "home",
  data() {
    return {
      items: [],
      users: [],
      config: {},
      token: null
    }
  },
  components: {Project},
  methods: {
    editProject(id, name) {
      this.$router.push({ name: 'edit', params: {id: id, projectName: name} })
      localStorage.setItem('currentProjectId', id)
      localStorage.setItem('currentProjectName', name)
    },

    logout() {
      let data = this.$axios.$post("https://api.quwi.com/v2/auth/logout", {"anywhere": true}, this.config)
      this.$router.push({ name: 'login'})
      localStorage.removeItem('token')
      return data
    }
  },

 async mounted() {
    try {
      this.token = localStorage.getItem('token')
      const config = {
        headers: { Authorization: `Bearer ${this.token}` }
      };
      this.config = config
      this.items = await this.$axios.$get('https://api.quwi.com/v2/projects-manage/index', config);
    } catch (e) {
      console.log(e)
    }
  },
}
</script>

<style scoped lang="sass">
nav
  padding: .5rem 1rem
  background-color: #FAFAFA
  border-bottom: 1px solid rgba(128, 128, 128, 0.76)
  justify-content: space-between
  position: sticky
  top: 0
  z-index: 10

  .tab
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
    text-decoration: none
    color: grey
    background-color: transparent
    line-height: 1.5

.container
  margin-top: 3rem
  margin-bottom: 3rem

.project
  cursor: pointer
</style>
