<template>
  <div class="login d-flex justify-content-center">

    <form @submit.prevent="login" class="d-flex flex-column justify-content-center ">
      <h2>LOGIN</h2>

      <div class="form-group">
        <input v-model.trim="email"
               id="email"
               type="email"
               placeholder="Email"
               class="form-control"
               :class="{invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email)}"
        />
        <small class="helper-text invalid" v-if="$v.email.$dirty && !$v.email.required">
          Email is required
        </small>
        <small class="helper-text invalid" v-else-if="$v.email.$dirty && !$v.email.
        email">
          Please write correct email
        </small>
      </div>

      <div class="form-group">
        <input v-model.trim="password"
               id="password"
               type="password"
               placeholder="Password"
               class="form-control"
               :class="{invalid: ($v.password.$dirty && !$v.password.required) || ($v.password.$dirty && !$v.password.minLength)}"/>
        <small class="helper-text invalid" v-if="$v.password.$dirty && !$v.password.required">
          Password is required
        </small>
        <small class="helper-text invalid" v-else-if="($v.password.$dirty && !$v.password.minLength)">
          Password must has min {{ $v.password.$params.minLength.min }} symbols, now it is {{ password.length }}
        </small>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary">
      </div>
    </form>
  </div>
</template>

<script>
import {required, minLength, email} from 'vuelidate/lib/validators';

export default {
  name: "login",
  data: () => ({
    user: {},
    email: '',
    password: '',
    token: null
  }),
  validations: {
    email: {required, email},
    password: {required, minLength: minLength(6)},
  },
  methods: {
    async login() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return
      }
      this.user = {
        email: this.email,
        password: this.password
      }
      try {
        await this.$store.dispatch('login', this.user)
        if (this.$store.state.token !== null) {
          this.token = this.$store.state.token
          localStorage.setItem('token', this.token ? this.token : null)
          this.$router.push('/home')
        } else {
          this.email = ''
          this.password = ''
          alert('Login failed, try again!')
          return
        }
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>

<style scoped lang="sass">
.login
  height: 100vh

h2
  margin-bottom: 1rem

small.invalid
  color: red
</style>
