<template>
  <div class="project">
    <div class="d-flex align-items-center left">
      <img :src="item.logo_url ? item.logo_url : 'https://via.placeholder.com/35/395378'" alt="">
      <h5>{{ item.name }}</h5>
    </div>
    <b v-if="item.is_active === 1" class="text-success">Active</b>
    <b v-else class="text-danger">Passive</b>
    <ul>
      <li>
        <span class="title">time this week</span>
        <span class="time">{{ thisWeek }}</span>
      </li>
      <li>
        <span class="title">this month</span>
        <span class="time">{{ thisMonth }}</span>
      </li>
      <li>
        <span class="title">total</span>
        <span class="time">{{ total }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
import moment from "moment";

export default {
  name: "project",
  data() {
    return {
      token: null,
      thisWeek: '00:00:00',
      thisMonth: '00:00:00',
      total: '00:00:00',
    }
  },
  props: [
    'item'
  ],

  async mounted() {
    this.token = localStorage.getItem('token')
    const config = {
      headers: {Authorization: `Bearer ${this.token}`}
    };

    // let today = moment().format("DD-MM-YYYYThh:mm:ss")
    //
    // let week = moment().subtract(7, 'days').calendar();
    // week = moment(week).format("DD-MM-YYYYThh:mm:ss")
    //
    // let month = moment().subtract(30, 'days').calendar();
    // month = moment(month).format("DD-MM-YYYYThh:mm:ss")

    // const lastWeek = await this.$axios.$get(`https://api.quwi.com/v2/timers/aggregate?filters[dta_from]=${week}&filters[dta_to]=${today}&mode=week&filters[id_project]=${this.item.id}`, config);
    // const lastMonth = await this.$axios.$get(`https://api.quwi.com/v2/timers/aggregate?filters[dta_from]=${month}&filters[dta_to]=${today}&mode=week&filters[id_project]=${this.item.id}`, config);

  }
}
</script>

<style scoped lang="sass">
.project
  background-color: white
  border: 1px solid #80808038
  border-radius: 5px
  padding: 1rem
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 1rem

  img
    max-width: 35px
    margin-right: 1rem
    border-radius: 8px

ul
  list-style: none

  li
    display: flex
    align-items: center
    justify-content: flex-end

    .title
      margin-right: 1rem

    .time
      font-weight: 500

.left
  min-width: 200px
</style>
